@import url('./variables.css');

@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-SemiBold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Manrope;
    src: url(/fonts/Manrope-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

/*
    General
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Manrope, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: var(--color-accent-black);
}

main {
    width: 100%;
}

section {
    padding: 40px 0;
}

h1, h2, h3 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
}

a, p, span {
    
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-weight: 500;
}

p {
    font-size: 14px;
}

.beige {
    background-color: var(--color-accent-beige);
    color: var(--color-accent-black);
}

.brown {
    background-color: var(--color-accent-brown);
    color: var(--color-primary);
}

.dark-brown {
    background-color: var(--color-accent-dark-brown);
    color: var(--color-primary);
}

.white {
    background-color: var(--color-primary);
    color: var(--color-accent-black);
}

.white-text {
    color: var(--color-primary);
}

.black-text {
    color: var(--color-accent-black);
}

.brown-text {
    color: var(--color-accent-dark-brown);
}

.bg-dark-brown {
    background-color: var(--color-accent-dark-brown);
}

.bg-transparent {
    background-color: transparent;
}

.bg-blue {
    background-color: var(--color-secondary);
}

.bg-dark-blue {
    background-color: var(--color-ternary);
}

.bg-dark-blue-gradient {
    background: linear-gradient(100deg, var(--color-secondary) 0, var(--color-ternary) 100%) 0 0 no-repeat;
}

.bg-brown-gradient {
    background: linear-gradient(100deg, var(--color-accent-brown) 0, var(--color-accent-dark-brown) 100%) 0 0 no-repeat;
}

.light-shadow {
    box-shadow: var(--shadow-light);
}

.carousel {
    position: relative;
}

.carousel-control-prev {
    left: -20px;
    width: 0%;
}

.carousel-control-next {
    right: -20px;
    width: 0%;
}

.fa-circle-left,
.fa-circle-right {
    font-size: 26px;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.contact-button {
    width: 138px;
    padding: 12px;
    font-weight: 600;
    border-radius: 0;
}

.nav-link {
    font-weight: 600;
}

.desktop-nav-link {
    color: var(--color-primary);
}

.desktop-nav-link:hover {
    color: var(--color-accent-beige);
}

.mobile-nav-link:hover,
.footer-nav-link:hover {
    color: var(--color-accent-dark-brown);
}

/*
    Header
*/

header {
    border-bottom: 1px solid var(--color-header-bottom);
	position: fixed;
	width: 100%;
	z-index: 2;
}

.navbar-toggler {
	border: none;
	height: 26px;
	width: 40px;
	position: relative;
    cursor: pointer;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.navbar-toggler span {
    background: var(--color-primary);
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.navbar-toggler.closed span {
    background: var(--color-accent-dark-brown);
}

.closed span:nth-child(1) {
	top: 0px;
}

.closed span:nth-child(2) {
	top: 13px;
}

.closed span:nth-child(4) {
	top: 26px;
}

.open span:nth-child(1) {
	top: 15px;
	width: 0%;
	left: 50%;
}

.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

#desktop-nav {
    display: none;
    transition: background-color 0.5s ease;
}

#sidebar {
    background-color: var(--color-primary);
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    transition: right 0.3s ease-in-out;
    display: block;
}

#sidebar.closed {
    right: -300px;
}

.toggler-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    padding-right: 31px;
}

#sidebar .nav-item {
    border-bottom: 1px solid var(--color-accent-dark-brown);
}

#dark-mobile-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    /* transition: background-color 0.3s ease-in-out; */
}

/*
    Main
*/

#hero {
    padding-top: 160px;
}


#heroCarousel .carousel-item img {
    aspect-ratio: 1.35;
    object-fit: cover;
}

.floating-img {
    position: absolute;
    float: right;
    bottom: -20px;
    right: -20px;
    background-color: var(--color-primary);
    padding: 15px;
}

#advantages {
    padding-bottom: 220px;
}

.advantages-container {
    overflow-x: scroll;
}

.advantages-card {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0;
    border-bottom: 6px solid var(--color-accent-brown);
}

.advantages-card img {
    border-radius: 100%;
    background-color: var(--color-accent-brown);
}

.divider {
    margin-top: -100px;
}

.divider img {
    width: 100%;
    object-fit: cover;
}

.services-card {
    margin-bottom: 16px;
}

.services-card img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.services-container,
.gallery-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.machine-img {
    aspect-ratio: 2/1;
    object-fit: cover;
}

#about img {
    aspect-ratio: 1.35;
    object-fit: cover;
}

.workflow-btn {
    width: 200px;
    padding: 0 20px;
    height: 47px;
    margin: 8px;
    font-weight: 600;
    border-radius: 0;
    border: none;
}

.workflow-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.78;
    object-fit: cover;
}

#gallery .container-fluid {
    max-width: 1920px;
}

.gallery-img {
    aspect-ratio: 1.17;
}

/* gallery scrollbar stying */

input {
    border: 1px solid var(--color-primary);
}

.form-control {
    background: transparent;
    border-radius: 0;
}

.form-control:focus {
    background-color: var(--color-secondary);
}

.form-control,
.form-control:focus,
.form-control::placeholder {
    color: var(--color-primary);
}

input[type="radio"] {
    border-radius: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    accent-color: var(--color-primary);
    background-color: transparent;
    appearance: radio;
}

#message {
    min-height: 92px;
}

/* 360px-ig */

@media (min-width: 576px) {
    .divider img {
        height: 200px;
        margin-top: -40px;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 42px;
    }
    
    h3 {
        font-size: 22px;
        line-height: 1.5;
    }
    
    section {
        padding: 64px 0;
    }

    #desktop-nav {
        display: flex;
    }
    
    #mobile-nav {
        display: none;
    }

    .fa-circle-left,
    .fa-circle-right {
        font-size: 34px;
    }

    .floating-img {
        padding: 24px;
    }

    .advantages-container {
        overflow-x: visible;
    }

    .divider img {
        height: 300px;
        margin-top: -50px;
    }

    .services-container {
        flex-wrap: wrap;
        overflow-x: visible;
    }

    .services-card {
        margin-bottom: 0;
    }

    .workflow-btn {
        margin: 20px;
        width: 225px;
        height: 47px;
        margin: 8px;
    }
}

@media (min-width: 1200px) {
    .divider img {
        height: 526px;
        margin-top: -200px;
    }
}